@import "main.css";
@import "mediaQueries.css";
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@1,300&display=swap');

            /*fontes*/
    /*font-family: 'Alata', sans-serif;
    font-family: 'Josefin Sans', sans-serif;*/

:root{
    ---White: hsl(0, 0%, 100%);
    ---Black: hsl(0, 0%, 0%);
    ---DarkGray: hsl(0, 0%, 55%);
    ---VeryDarkGray: hsl(0, 0%, 41%);
}




.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
        color: hsl(228, 45%, 44%); 
    }