.section{
   /* border: 1px solid black;*/ /*teste*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 10rem 2.5rem 0 2.5rem;
}

.section h2{
    color: var(---VeryDarkBlue-headings);
    font-size: 2.6rem;
    font-weight: 600;

}

.conteudo-embrulho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img-editor{
    /*border: 1px solid red;*/
    margin-top: 7.8rem;
    margin-bottom: 4rem;
    width: 100%;
    transform: scale(1.25);
}

.trancar-texto{
    /*border: 1px solid black;*/ /*teste*/
    text-align: center;
    width: 98%;
}
.trancar-texto h3{
    color: var(---VeryDarkBlue-headings);
    font-size: 2.8rem;
    margin-top: 4.2rem;
    line-height: 3.2rem;
}
.trancar-texto h3 span{
    display: block;
}
.trancar-texto p{
    margin-top: 2.5rem;
    font-size: 1.7rem;
    color: var(---VeryDarkGrayishBlue-body-copy);
    line-height: 2.8rem;
}

.img-laptop{
    /*border: 1px solid red;*/
    margin-top: 7.8rem;
    margin-bottom: 6rem;
    width: 100%;
    transform: scale(1.52);
}

.vazio{
   /* border: 1px solid violet;*/ /*teste*/
    width: 93.8%;
    position: relative;
    height: 26.5rem;
}

.img-telefones{
    position: absolute;
    top: 0;
    left: -8px;
    width: 383px;
    margin-top: 7rem;
}

.section-meio{
   /* border: 1px solid green;*/ /*teste*/
    height: 62.5rem;
    background-image: url(images/bg-pattern-circles.svg), linear-gradient(var(---VeryDarkGrayBlue), var(---VeryDarkDesaturatedBlue));
    background-size: 130%, 100%;
    background-position: 50% -1950%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}

.trancar-texto-telefones{
    text-align: center;
    width: 98%;
}
.trancar-texto-telefones h3{
    color: var(---White-text);
    font-size: 4rem;
    margin-top: 20rem;
    line-height: 5rem;
}
.trancar-texto-telefones p{
    margin-top: 1.8rem;
    font-size: 1.7rem;
    color: var(---White-text);
    line-height: 2.8rem;
    font-weight: 300;
}

.section-laptop{
    padding: 5.0rem 2.5rem 10rem 2.5rem;
}

.img-editor-desktop, .img-laptop-desktop{
    display: none;
}



